nav {
    text-align: right;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2vh;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid black;
}

nav a {
    display: inline-block;

    /*button size*/
    width: 100px;
    height: 70%;

    /*button style*/
    background-color: DarkSalmon;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

nav a:hover {
    color: yellow;
    background-color: black;

}

nav a:active {
    color: red;
}

nav a:visited {
    color: white;
}
